/*** General CSS ***/
/** root **/
:root{
    --green: #71cd14;
    --dark-green: #137e5e;
    --pr-color: #1baa80;
    --light-color:#20c997;
    --txt-primary:#333;
    --txt-sec: #888;
    --txt-third:#252b33;
    --txt-light:#dee3e4;
}
/** ALL **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
*::selection {
    color: var(--dark-green);
    background-color: var(--green);
}
/** Text **/
.txt-pr{color:var(--txt-primary)}
.txt-green{color:var(--green)}
.txt-grey{color:var(--txt-sec)}
/** Button **/
.btn-green{
    border-color: var(--green);
    background-color: var(--green) !important;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    transition: all 500ms ease;
}
.btn-green:hover{
    background-color: rgba(var(--green), 0) !important;
    color: var(--green);
}
.btn:focus {
    box-shadow: 0 0 0 0.25rem rgba(113, 205, 20, 0.25);
}
/*** END General CSS ***/

/* Go To Top Button */
#go-to-top {
    position: fixed;
    right: 5%;
    bottom: 5%;
    height: 40px;
    width: 40px;
    z-index: 99;
}
#go-to-top a:hover {
    background-color: white !important;
}
#go-to-top i{
    text-align: center;
}
/* End Go To Top Button */

/* Start Navbar */
.navbar{
    z-index: 9999999;
}
.navbar-nav .nav-item{
    margin: 0 15px;
}
.navbar-nav .nav-item a:focus{
    color: var(--green);
}
.navbar-nav .active{
    color: var(--green) !important;
    border-bottom: solid 2px;
}
.navbar-nav a{
    font-family: 'Heebo', sans-serif;
    color: var(--txt-primary);
    font-size: 13px;
    font-weight: 400;
    transition: color 500ms ease;
}
.navbar-nav a:hover{
    color: var(--green);
}
.social{
    margin-right: 20px;
    
}
.social li{
    padding: 0 10px !important;
}
.social li a{
    font-size: 16px;
}
.navbar-nav .dropdown ul .dropdown-item  {
    transition: all 500ms ease;
}
.navbar-nav .dropdown ul li a{
    transition: all 500ms ease;
}
.navbar-nav .dropdown ul{
    background-color: #fff !important;
}
.navbar-nav .dropdown ul .dropdown-item:hover{
    background-color: var(--green) !important;
}
.navbar-nav .dropdown ul li:hover a{
    color: #fff !important;
}
/* End Navbar */

/* Start Slider */
.slider{
    background-image: url(../imgs/banner-bg.jpg);
    background-position: center 65px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.slider-content{
    height: 100vh;
}
.slider p{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}
.slider h3{
    color: #fff;
    /* font-size: 52px; */
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Heebo', sans-serif;
}
.slider-content span{
    color: var(--green);
}
.slider-content h4{
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    font-family: 'Heebo', sans-serif;
}
.slider-content .btn-green{
    width: 200px;
    padding: 15px 5px !important;
}
/* End Slider */

/* Start Feature Area */
.feature-box {
    padding: 30px 15px;
    margin-bottom: 50px;
    border: 1px solid var(--txt-light);
}
.feature-box h3 {
    font-size: 15px;
    margin: 24px 0px 4px;
}
.feature-box h3 {
    font-size: 14px;
}
/* End Feature Area */

/* Start Full Width Image */
#img-fluid > div > .bg-img-sale {
    background: url(../imgs/fashion-men.webp) no-repeat center;
    background-size: cover;
    min-height: 550px;
    height: 550px;
}
.img-fluid > div {
    height: 550px;
}
/* End Full Width Image */


/* Start Product Section */
#products .sale-tag {
    position: absolute;
    top: 12px;
    left: 12px;
    border-radius: 4px;
    font-size: 14px;
    background: tomato;
    color: whitesmoke;
    padding: 2px 8px;
}

#products .card-info {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

#products .card-bootom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* End Product Section */



/* Start Blog Style */
.scale img{
    width:100%;
    transition: 1.5s all ease-in-out;
    
}
.scale:hover  img{
    transform: scale(1.3);
    
    }
.card-img{
    overflow: hidden;
}
.card-title{
    transition: all 1s;
}

.card-group:hover .card-title{
    color:var(--green);
}
.card-group:hover .card-bootom{
    color:var(--green);
}
.card-title h5{
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    font-weight: 500;
    
}
.card-title .card-text{
    font-family: 'Heebo', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color:var(--txt-sec);
}
.card-bootom{
    font-family: 'Heebo', sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 10px;
    transition: all 1s;
}
/* End Blog Style */

/* Start Footer */
footer{
    background-color:rgb(13, 13, 31);
}
h4{
    font-size:18px;
    font-family: 'Heebo', sans-serif;
}
a{
    font-family: 'Roboto', sans-serif;
    font-size: 14;
    transition: all .5s;
}
ul a:hover{
    color: #fff !important;
}
nav ul a:hover{
    color: var(--green) !important;
}
p{
    font-size: 14px;
    color: #797979;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
}
input, .icons{
    background-color: #495057;
    transition: all 1s;
}
.icons:hover{
    background-color: var(--green);
}
nav .icons{
    background-color: transparent;
}
nav .icons:hover{
    background-color: transparent;
}
.parent{
    position: relative;
}
footer button{
    background-color: var(--green);
    border: 0;
    color: #fff;
    position: absolute;
    z-index: 99;
    left: 80%;
    bottom: 15%;
}
.copy-p{
    color:#fff
}
.copy-color{
   color: var(--green);
   cursor: pointer;
}
.copy{
    display: flex;
    justify-content: space-between;
}
/* End Footer Style */
